<div class="media">
    <div class="media--snap">
        <span class="icon-snap">
            <svg class="icon icon--snap">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
        </span>
        <div>
            <header>Easy Start & Managed Updates</header>
            <p>
                Our cloud plans include easy onboarding for new and existing sites and managed WordPress and WooCommerce
                auto-updates.
            </p>
        </div>
    </div>
    <div class="media--growth">
        <span class="icon-growth">
            <svg class="icon icon--growth">
                <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
        </span>
        <div>
            <header>Easy Start & Managed Updates</header>
            <p>
                We make your WordPress and WooCommerce development flow easier with a convenient staging tool and Git
                and WP-CLI integration.
            </p>
        </div>
    </div>
    <div class="media--wordpress">
        <span class="icon-wordpress">
            <svg class="icon icon--wordpress">
                <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
        </span>
        <div>
            <header>Easy Start & Managed Updates</header>
            <p>
                Speed up your WordPress and Woo sites with our SG Optimizer plugin through smart dynamic caching and
                multiple other performance optimizations.
            </p>
        </div>
    </div>
</div>
